.configurator {
  padding: 16px 8px;
  color: #333;

  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;

  .section {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .bankTabs {
    display: flex;
    gap: 16px;

    a {
      flex: 1;
      text-align: center;
      font-weight: bold;
      color: #666;
      padding: 8px;
      height: 36px;
      border-radius: 18px;
      transition: all 0.3s;
      cursor: pointer;

      &.active {
        box-shadow: 0 0 6px #666;
      }
    }
  }
}
