.configurator {
  padding: 32px;
  color: #333;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .items {
    display: flex;
    gap: 4px;
  }

  .cards {
    .main {
      display: flex;
      gap: 8px;
      margin-bottom: 16px;
    }

    .sub {
      display: flex;
      gap: 8px;
    }
  }
}
