.bank {
  box-shadow: 0 0 0.25em #666 inset;
  border-radius: 1em;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  .bankInner {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5em);
    grid-gap: 0.5em;
    justify-content: space-around;

    .card {
      position: relative;
      width: 5em;
      height: 5em;
      border: 0.125em solid #ccc;
      border-radius: 0.5em;
      overflow: hidden;
      cursor: grab;
    }
  }
}

.name {
  height: 1em;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
}
