.list {
  display: grid;
  grid-template-columns: repeat(6, 5em);
  grid-gap: 0.375em;
}

.sub {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttonGroup {
    display: flex;
    gap: 0.25em;
    opacity: 0;
    transition: all 0.3s;

    @media only screen and (max-width: 496px) {
      opacity: 1;
    }
  }

  &:hover {
    .buttonGroup {
      opacity: 1;
    }
  }

  button {
    border-radius: 1.25em;
    padding: 0.25em;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .addButton {
    border: 0.2em solid #6c4;
  }

  .moveButton {
    border: 0.2em solid #aaf;
  }

  .deleteButton {
    border: 0.2em solid #faa;
  }
}
