.card {
  position: relative;
  width: 5em;
  height: 5em;
  background-color: #ddd;
  border: 0.25em solid #ccc;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: default;

  &.draggable {
    cursor: grab;
  }

  &.selected {
    outline: 0.25em solid #f39800;
  }
}
