.container {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 8px;
  border-radius: 36px;
  border: 4px solid #ccc;

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 28px;
    transition: all 0.3s;

    &.selected {
      box-shadow: 0 0 6px #666;
    }
  }
}
