.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.125em;
  padding: 0.5em;
  border-radius: 2.5em;
  border: 0.25em solid #ccc;

  .option {
    padding: 0.5em;
    border-radius: 1.75em;
    transition: all 0.3s;

    .imageWrapper {
      position: relative;
      width: 2.5em;
      height: 2.5em;
    }

    &.selected {
      box-shadow: 0 0 0.375em #666;
    }
  }
}
