.main {
  min-height: 100dvh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 90dvh;
    width: 90dvw;
    max-width: 1280px;
    padding: 2em;
    overflow: hidden;
    border-radius: 1em;
    background-color: #f6f6f6;

    hr {
      min-height: 0.25em;
      border: none;
      border-radius: 0.125em;
      background-color: #ccc;
    }

    @media only screen and (max-width: 1072px) {
      height: 100dvh;
      width: 100dvw;
      border-radius: 0;
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 786px) {
      overflow: auto;
      padding: 0;
    }

    @media only screen and (max-width: 496px) {
      font-size: 0.65rem;
    }
  }
}
