.main {
  height: 100dvh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  .sidebar {
    width: 180px;
    overflow: hidden;
    transition: all 0.2s;
    &.hidden {
      width: 0;
    }
  }

  .content {
    display: flex;
    height: 720px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #f7f7f7;
  }
}
