.main {
  height: 100dvh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  .sidebar {
    max-width: 200px;
    overflow: hidden auto;
    transition: all 0.2s;
    &.hidden {
      max-width: 0;
    }
  }

  .content {
    display: flex;
    height: 720px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #f7f7f7;
  }
}
