.list {
  display: flex;
  gap: 0.375em;

  .item {
    position: relative;
    width: 3.75em;
    height: 3.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25em solid #ccc;
    border-radius: 0.5em;
    overflow: hidden;
  }
}
