.container {
  width: 180px;

  .idol {
    position: relative;
    color: #f7f7f7;

    .plan {
      position: absolute;
      top: 4px;
      left: 4px;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 8px;
      background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8));

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .name {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
